<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FactorioSupervisor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FactorioSupervisor.Properties.Settings>
            <setting name="FactorioPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModPortalUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ModPortalAuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCheckModUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDownloadModUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentFactorioBranch" serializeAs="String">
                <value />
            </setting>
            <setting name="UiPosLeft" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="UiPosTop" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="UiDimWidth" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="UiDimHeight" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="UiDimModListWidth" serializeAs="String">
                <value>1.2*</value>
            </setting>
            <setting name="UiDimModDetailsWidth" serializeAs="String">
                <value>2.5*</value>
            </setting>
            <setting name="HideGroups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModsSortDirection" serializeAs="String">
                <value>Ascending</value>
            </setting>
        </FactorioSupervisor.Properties.Settings>
    </userSettings>
</configuration>